@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cutive+Mono&display=swap');


html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
  padding: 0;
    margin: 0;
}

  h1, h2 {
    font-family: 'Bungee Shade', cursive;
    font-size: 5rem;
  }

  h4{
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
  }

  p {
    font-family: 'Cutive Mono', monospace;
    font-size: 5rem;
  }
  
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 800px;
    background-size: cover;
    background-position: center;
    will-change: opacity;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  @media only screen and (max-width: 480px) {
    h1, h2 {
      font-size: 2rem;
    }

    p{
      font-size: 0.75rem;
    }
  }